body {
font-family: sans-serif;
}
ul {
border-style: solid;
border-width: 1px;
padding: 0.5em;
border-radius: 0.5em;
background-color: black;
}
ul li {
list-style-type: none;
display: inline;
margin-right: 0.5em;
margin-left: 0.5em;
}
ul li a {
color: white;
text-decoration: none;
}
ul li.selected {
color: green;
}


       
