body {
font-family: sans-serif;
}
ul.menu {
border-style: solid;
border-width: 1px;
padding: 0.5em;
border-radius: 0.5em;
background-color: black;
}
ul.menu li {
list-style-type: none;
display: inline;
margin-right: 0.5em;
margin-left: 0.5em;
}
ul.menu li a {
color: white;
text-decoration: none;

}
ul.menu li.selected {
color: yellow;
}
ul.menu li a:hover {
color: #99DDFF;
text-decoration: underline;
}
table, th, td
{
border: 1px solid white;
border-collapse: collapse;
}
tr
{
background-color: silver;
}
th, td
{
vertical-align: top;
padding: 0.5em;
text-align: left;
}
.game_icon {
border-radius: 50%; 
height:10vh;
width:10vh;
}

